nav {
  background-color: #E0D4E7;
  padding: 1px;
  border-bottom: 3px solid #222;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li {
  flex: 1;
  color: white;
  border-right: 2px solid #222;
  text-align: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 15px 0;
  color: inherit;
  display: block;
}

nav ul li a:hover {
  color: #ccc; /* Change text color on hover */
}

